body {
	background-color: #EBEBEA;
}

.jumbotron {
	padding: 0 60px;
}

.inputWrapper {
	margin-top: 20px;
	
}

#palavraPanel, .panel-body {
	text-align: center;
}

#adivinhacaoAtual {
	font-size: 40px;
	letter-spacing: 30px;
	text-align: center;
}

#letraInput {
	padding: 10px;
	width: 180px;	
}

.btn-primary {
	background-color: #06AF88;
	border-color: #3C4C30;	
}

#stats {
	font-size: 16px;
	margin: 0 50px;	
}
